In [83]:
import pandas as pd
df = pd.read_csv("data.csv")

In [84]:
df.head()
data=df

In [86]:
label = data["DEATH_EVENT"]
data = data.drop(["DEATH_EVENT"], axis=1, inplace=False)
# label.head()

KeyError: 'DEATH_EVENT'

In [87]:
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8

In [88]:
# Normalization
mean = data.iloc[:, 0:13].mean(axis=0)
data.iloc[:, 0:13] -= mean
std = data.iloc[:, 0:13].std(axis=0)
data.iloc[:, 0:13] /= std

In [91]:
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,1.190949,-0.869647,0.000165,-0.846161,-1.527998,1.356997,1.678834e-02,0.489237,-1.501519,0.734457,-0.686531,-1.626775
1,-0.490457,-0.869647,7.502063,-0.846161,-0.007065,-0.734457,7.523048e-09,-0.284076,-0.141739,0.734457,-0.686531,-1.601007
2,0.350246,-0.869647,-0.449186,-0.846161,-1.527998,-0.734457,-1.036336e+00,-0.090748,-1.728149,0.734457,1.451727,-1.588122
3,-0.910808,1.146046,-0.485257,-0.846161,-1.527998,-0.734457,-5.455595e-01,0.489237,0.084892,0.734457,-0.686531,-1.588122
4,0.350246,1.146046,-0.434757,1.177856,-1.527998,-0.734457,6.507077e-01,1.262550,-4.674340,-1.356997,-0.686531,-1.575238

In [94]:
import numpy as np
# for seperating 70 percent of data
np.random.seed(11111)
msk = np.random.rand(len(data)) < 0.70
train_data = data[msk]
test_data = data[~msk]

train_label = label[msk]
test_label = label[~msk]

In [99]:

train_data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
1,-0.490457,-0.869647,7.502063,-0.846161,-0.007065,-0.734457,7.523048e-09,-0.284076,-0.141739,0.734457,-0.686531,-1.601007
2,0.350246,-0.869647,-0.449186,-0.846161,-1.527998,-0.734457,-1.036336e+00,-0.090748,-1.728149,0.734457,1.451727,-1.588122
3,-0.910808,1.146046,-0.485257,-0.846161,-1.527998,-0.734457,-5.455595e-01,0.489237,0.084892,0.734457,-0.686531,-1.588122
4,0.350246,1.146046,-0.434757,1.177856,-1.527998,-0.734457,6.507077e-01,1.262550,-4.674340,-1.356997,-0.686531,-1.575238
5,2.452003,1.146046,-0.551217,-0.846161,0.161928,1.356997,-6.069065e-01,0.682565,-1.048259,0.734457,1.451727,-1.575238

In [102]:
# train_label_np = train_label.to_numpy()
# train_data_np = train_data.to_numpy()

# import xgboost as xgb

# # Initialize the model
# model = xgb.XGBClassifier()

# # Train the model
# model.fit(train_label_np, train_data_np)