In [1]:
import pandas as pd
df = pd.read_csv("data.csv")

In [2]:
df.head()
data=df

In [3]:
label = data["DEATH_EVENT"]
data = data.drop(["DEATH_EVENT"], axis=1, inplace=False)
# label.head()

In [4]:
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8

In [6]:
# Normalization
mean = data.iloc[:, 0:13].mean(axis=0)
data.iloc[:, 0:13] -= mean
std = data.iloc[:, 0:13].std(axis=0)
data.iloc[:, 0:13] /= std

In [91]:
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,1.190949,-0.869647,0.000165,-0.846161,-1.527998,1.356997,1.678834e-02,0.489237,-1.501519,0.734457,-0.686531,-1.626775
1,-0.490457,-0.869647,7.502063,-0.846161,-0.007065,-0.734457,7.523048e-09,-0.284076,-0.141739,0.734457,-0.686531,-1.601007
2,0.350246,-0.869647,-0.449186,-0.846161,-1.527998,-0.734457,-1.036336e+00,-0.090748,-1.728149,0.734457,1.451727,-1.588122
3,-0.910808,1.146046,-0.485257,-0.846161,-1.527998,-0.734457,-5.455595e-01,0.489237,0.084892,0.734457,-0.686531,-1.588122
4,0.350246,1.146046,-0.434757,1.177856,-1.527998,-0.734457,6.507077e-01,1.262550,-4.674340,-1.356997,-0.686531,-1.575238

In [7]:
import numpy as np
# for seperating 70 percent of data
np.random.seed(11111)
msk = np.random.rand(len(data)) < 0.70
train_data = data[msk]
test_data = data[~msk]

train_label = label[msk]
test_label = label[~msk]

In [11]:

train_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 206 entries, 1 to 297
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       206 non-null    float64
 1   anaemia                   206 non-null    float64
 2   creatinine_phosphokinase  206 non-null    float64
 3   diabetes                  206 non-null    float64
 4   ejection_fraction         206 non-null    float64
 5   high_blood_pressure       206 non-null    float64
 6   platelets                 206 non-null    float64
 7   serum_creatinine          206 non-null    float64
 8   serum_sodium              206 non-null    float64
 9   sex                       206 non-null    float64
 10  smoking                   206 non-null    float64
 11  time                      206 non-null    float64
dtypes: float64(12)
memory usage: 20.9 KB

In [16]:
train_label_np = train_label.to_numpy()
train_data_np = train_data.to_numpy()

train_data_np

array([[-0.49045705, -0.86964686,  7.50206272, ...,  0.73445691,
        -0.68653097, -1.60100673],
       [ 0.35024581, -0.86964686, -0.44918572, ...,  0.73445691,
         1.45172695, -1.58812249],
       [-0.91080848,  1.14604625, -0.48525749, ...,  0.73445691,
        -0.68653097, -1.58812249],
       ...,
       [ 0.09803495, -0.86964686, -0.53678859, ...,  0.73445691,
         1.45172695,  1.80043235],
       [-0.49045705, -0.86964686,  1.27607544, ..., -1.35699658,
        -0.68653097,  1.81331658],
       [-1.33115991, -0.86964686,  1.88723426, ...,  0.73445691,
         1.45172695,  1.92927473]])

In [17]:

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Initialize the model
model = Sequential([
    Dense(32, activation='relu', input_shape=(train_data_np.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(train_data_np, train_label_np, epochs=10, batch_size=32, validation_split=0.2, verbose = True)

c:\Users\hamza.qureshi\AppData\Local\anaconda3\envs\generalEnv\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/10
6/6 ━━━━━━━━━━━━━━━━━━━━ 1s 25ms/step - accuracy: 0.3747 - loss: 0.7525 - val_accuracy: 0.2857 - val_loss: 0.7662
Epoch 2/10
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.4218 - loss: 0.7118 - val_accuracy: 0.4286 - val_loss: 0.7018
Epoch 3/10
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.4954 - loss: 0.7029 - val_accuracy: 0.6190 - val_loss: 0.6519
Epoch 4/10
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.6199 - loss: 0.6730 - val_accuracy: 0.7857 - val_loss: 0.6051
Epoch 5/10
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.6202 - loss: 0.6395 - val_accuracy: 0.8810 - val_loss: 0.5669
Epoch 6/10
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.6779 - loss: 0.6282 - val_accuracy: 0.9048 - val_loss: 0.5308
Epoch 7/10
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.7333 - loss: 0.6174 - val_accuracy: 0.9286 - val_loss: 0.4935
Epoch 8/10
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.7240 - loss: 0.6034 - val_accuracy: 0.9286 - val_loss: 0.4660
Epoch 9/10
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.7638 - loss: 0.5924 - val_accuracy: 0.9286 - val_loss: 0.4380
Epoch 10/10
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.7997 - loss: 0.5645 - val_accuracy: 0.9286 - val_loss: 0.4115

In [22]:
test_label_np = test_label.to_numpy()
test_data_np = test_data.to_numpy()

# Evaluate the model
loss, accuracy = model.evaluate(test_data_np, test_label_np)
print(f"Neural Network Accuracy: {accuracy:.2f}, and loss is {loss:2f}")

# import xgboost as xgb

# # Initialize the model
# model = xgb.XGBClassifier()

# # Train the model
# model.fit(train_label_np, train_data_np)

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7138 - loss: 0.6150
Neural Network Accuracy: 0.76, and loss is 0.577751